<div>
  <div class="media-body">
    <% if (libn !== undefined) { %>
    <% nameTitle = [libn.first_name + ' ' + libn.last_name] %>
    <% nameTitle.forEach( (item) => { %>
    <% if (item !== null && item !== undefined) { %>
    <% if (item.length > 1) { %>
    <h5 class="mt-0 mb-1"><%- item %></h5>
    <% } %>
    <% } %>
    <% }) %>
    <% } %>
    <p><%- libn.title %></p>
    <% if (libn.profile.image.url != '') { %>
    <img class="ms-1" src="<%= libn.profile.image.url %>" alt="<%= libn.first_name%>
      <%= libn.last_name %>"
      style="max-width:120px; height: auto;">
    <% } %>
    <% fields = [libn.profile.connect.address,
    libn.profile.connect.email, libn.profile.connect.phone, libn.profile.widget_la, libn.profile.widget_lc, libn.profile.widget_other] %>
    <% fields.forEach( (item) => { %>
    <% if (item !== null && item !== undefined) { %>
    <% if (item.length > 1) { %>
    <% if (item.match(/^[^ ]*\@miamioh.edu$/i)) { %>
    <% if (typeof encoder !== 'undefined') { encoded = encoder.encodeEmail(item) } else { encoded = item} %>
    <a href="mailto:<%= encoded %>"><%= item %></a>
    <% } else { %>
    <p class="d-inline-block"><%- item %></p>
    <% } %>
    <% } %>
    <% } %>
    <% }) %>
  </div>
</div>