<% subj.id=subj.name.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
  <div class="tab-pane show" id="<%= subj.id %>" role="tabpanel"
    aria-labelledby="<%= subj.id %>-tab">
    <h3 class="text-white">
      <%= subj.name %>
    </h3>
    <div class="row">

      <% if (! subj.resources.hasOwnProperty('metadata')) { %>
        <div class="col-md-4 col-12">
          <div class="card">
            <div class="card-header bg-MUred text-white">No Resources Found
            </div>
            <div class="card-body">No resources found for <%= subj.name %>
            </div>
          </div>
        </div>
        <% } else { %>

          <div class="col-md-4 col-12">
            <div class="card mb-3 border-MUmidred">
              <div class="card-header bg-MUred text-white">
                <h4><i class="bi bi-lightbulb"></i>&nbsp;Subject Guides</h4>
              </div>
              <div class="card-body">
                <% if ( parseInt (subj.resources.metadata.sizeof.guides)> 0) {
                  %>
                  <%- include('guides', {guides: subj.resources.guides}) %>
                    <% } %>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-12">
            <div class="card mb-3 border-MUmidred">
              <div class="card-header bg-MUred text-white">
                <h4><i class="bi bi-sort-alpha-down"></i>&nbsp;Databases</h4>
              </div>
              <div class="card-body">
                <% if ( parseInt (subj.resources.metadata.sizeof.databases)> 0)
                  { %>
                  <%- include('databases', {databases:
                    subj.resources.databases}) %>
                    <% } %>
                      <% if (subj.resources.subjects &&
                        subj.resources.subjects.length> 0) { %>
                        <%- include('databases-alt', {subjects:
                          subj.resources.subjects}); %>
                          <% }%>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-12">
            <div class="card mb-3 border-MUmidred">
              <div class="card-header bg-MUred text-white">
                <h4><i class="bi bi-person"></i>&nbsp;My Librarian</h4>
              </div>
              <div class="card-body">
                <% if ( parseInt (subj.resources.metadata.sizeof.librarians)> 0)
                  { %>
                  <%- include('librarian', {libn: subj.resources.librarians[0]})
                    %>
                    <% } %>
              </div>
            </div>
          </div>
          <% } %>


    </div>
  </div>