<%- include ('header') %>

  <!-- Show user's subject menu -->
  <div class="col-1">
    <span class="text-light">Your subjects (based on courses & departmental
      affiliation): </span>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <% if (user.uniqueSubjects) { %>
        <% user.uniqueSubjects.forEach((s)=> { %>
          <li class="nav-item" role="presentation">
            <% let tabId=s.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
              <button class="nav-link text-start" id="<%= tabId %>-tab" data-bs-toggle="tab" data-bs-target="#<%= tabId %>"
                type="button" role="tab" aria-controls="<%= s %>">
                <%= s %>
              </button>
          </li>
          <% }); %>
            <% } %>
    </ul>

    <div>
      <a href="/logout">
        <button id="logout" type="button" class="btn btn-light btn-sm">
          <span class="glyphicon glyphicon-log-out"></span>
          Log out
        </button>
      </a>
    </div>

  </div> <!-- End of showing user's subject menu -->

  <!-- Show log-out button -->



  <div class="col-9">

    <div class="tab-content" id="myTabContent">
      <% tabsCreated=[]; %>
        <% user.subjectData.forEach(m=> { %>
          <%- include('partials/subject-info', {subj: m}) %>
            <% tabsCreated.push(m.name) %>
              <% }); %>

    </div>

  </div>

  <!-- Show user's name -->
  <div class="col-2">
    <h1 class="text-white">Hello, <%= user.casData.givenName %>
    </h1>

    <div class="">
      <div class="card mb-3 border-MUmidred">
        <div class="card-header bg-MUred">
          <a class="libraryAcc collapsed" data-toggle="collapse"
            href="#collapseCirc" role="button" aria-expanded="false"
            aria-controls="collapseCirc">
            <h4>My Library Account</h4>
          </a>
        </div>
        <div class="card-body d-print-none">
          <% fakeCirc = false %>
          <% if (fakeCirc == true) { %>
          <%- include('circulation', {data: {moneyOwed: '$1.00',numHolds:4,numCheckouts:4}}) %>
          <% } else { %>
          <% if (user.sierraInfo !=undefined) { %>
            <%- include('circulation', {data: user.sierraInfo}) %>
              <% } else { %>
                <p>No data avalable</p>
                <% } %>
          <% } %>
        </div>
      </div>

      <div class="card mb-3 border-MUmidred">
        <div class="card-header bg-MUred text-white">
          <h4>Featured Content</h4>
        </div>
        <div class="card-body">
          <a href="https://libguides.lib.miamioh.edu/librarylife">
            <img src="/img/life-guide.png" id="life-guide" class="card-img" alt="Your Life and the Library: Resouces for Leisure and Learning, Interests and Information, Fun and Facts, and Education and Entertainment">
            <p class="mt-3">The L.I.F.E. guide suggests library resources for non-academic purposes.</p>
          </a>
        </div>
      </div>
    </div>
    
  </div>
  <%- include ('footer') %>