<%- include ('header') %>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
         $('.select2').select2();
    });
</script>
<style>

</style>
<h1>Select a Subject to Preview</h1>
<div class="col-md-8 col-sm-12">
    <form action="./preview">
            <select class="select2" name="subject">
                <% subjects
                    .forEach((subj) => { %>
                    <% let code = ""; let suffix = ""; %>
                        <% 
                        if (subj.majorCode) { 
                            code = 'majorCode---' + subj.majorCode;
                            suffix = 'Major';  
                        } else if (subj.regCode) { 
                            code = 'regCode---' + subj.regCode;
                            suffix = 'Course'
                        } else if (subj.deptCode) { 
                            code = 'deptCode---' + subj.deptCode;
                            suffix = 'Department'; 
                        }
                        %>
                    <option value="<%= code %>"><%= subj.name %> (<%= suffix %>)</option>
                    <% }) %>
            </select>
       

          <div class="form-check">
            <input type="checkbox" name="json" class="form-check-input" id="jsonCheckbox">
            <label class="form-checklabel" for="jsonCheckbox">JSON view only (does not render webpage)</label>
    
          </div>
          <button type="submit" class="btn btn-primary mt-3">Preview Subject</button>
    </form>
</div>




<%- /* include('partials/subject-info', {subj: subj}) */ %>
<%- include ('footer') %>