<%- include ('header') %>
    <h1>MyGuide Stats</h1>
    <h2>Monthly</h2>
    <pre>
        <%= monthStats %>
    </pre>
    <h2>Daily</h2>
    <pre>
        <%= dayStats %>
    </pre>
    <h2>Daily (Student only)</h2>
    <pre>
        <%= dayStuStats %>
    </pre>
    <%- include ('footer') %>
